.highslide-wrapper, .highslide-outline {
	background: #ffffff;
	color: black;
	cursor:pointer;
}
.highslide img {
	border: 1px solid #D0D0D0;
}
.highslide:hover img {
	border-color: #A0A0A0;
}
.highslide-active-anchor img {
	visibility: visible;
	border-color: #808080 !important;
}
.highslide-dimming {
	background: #330000;
}
.highslide-image {
	border: 2px solid #FFFFFF;
}
.highslide-loading {
	color: white;
	border: 1px solid white;
	background-color: black;
	background-image: url(http://b5.mit.edu/js/highslide/graphics/loader.black.gif);
}

.close-simple-white {
	width: 16px;
	height: 16px;
	background: white url(http://b5.mit.edu/js/highslide/graphics/controlbar-text-buttons.png) 0 -221px;
	cursor: pointer;
}
