{% extends "index.html" %}

{% block title %}Opinion{% endblock %}

{% block heading %}Opinion: {{ subject.name }}{% endblock %}

{% block content %}

<div class="nav-header">
<a href="/opinion/">Home</a> | <a href="/opinion/agents/">My Agents</a> | <a href="/opinion/endorse/">Endorse Subject</a> | <a href="/opinion/candidate/">Endorse Candidate</a>
</div>

<div class="largecontainer">
<div class="contheading">Agents You Control</div>

{% for agent in user.agent_set.all %}
<div class="cencontainer"
<div class="conttext">
<b>{{ agent.name }}</b> has made {{ agent.endorsements_today }} endorsements today. <a href="/opinion/endorse/?agent={{ agent.name }}">Make an Endorsement with this Agent</a>!</div>
<div class="conttext">{{ agent.name }} has {{ agent.influence }} influence.</div>
<div class="conttext">{{ agent.name }} holds the following positions:
</div>
<table class="sortable" width=100%>
  <thead><tr><td>Subject</td><td>Stance</td></tr></thead>
  {% for position in agent.position_set.all %}
  <tr><td><a href="/opinion/{{ position.subject.name }}">{{position.subject.name}}</a></td><td>{{ position.tstate }}</td></tr>
  {% endfor %}
</table>
</div>
{% endfor %}
  
</div>




{% endblock %}
